{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Historial - Casos Riesgo de desprotección' %}
{% set _main_title = 'Listado' %}
{% set _section =  'historial_desproteccion_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show('Historial-Casos Riesgo de desprotección') }}
{% endblock %}

{% block _main %}


            <form class="form" id="frm_filters">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filter_text">Nombres</label>
                            <input type="text" class="form-control" placeholder="Buscar..." id="filter_text"
                                   value="{{app.request.get('b')}}" name="b" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="select_provincias">Provincia</label>
                            <select name="provincia" id="select_provincias" class="form-control">
                                <option value="" selected>Seleccione</option>
                                {% for provincia in provincias  %}
                                    <option value="{{ provincia.id }}" {{ provincia.id == provinciaId ? "selected":"" }}>
                                        {{ provincia.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="select_distritos">Distrito</label>
                            <select name="distrito" id="select_distritos" class="form-control">
                                <option value="">Seleccione</option>
                                {% for distrito in distritos %}
                                    <option value="{{ distrito.id }}">{{ distrito.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="select_centros">Centro Poblado</label>
                            <select name="centroPoblado" id="select_centros" class="form-control">
                                <option value="">Seleccione</option>
                                {% for centro in centrosPoblados %}
                                    <option value="{{ centro.id }}">{{ centro.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" class="btn-send btn btn-primary">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                        <button type="button" onclick="actionForm('frm_filters')" class="btn-excel btn btn-success ml-2">
                            <i class="fas fa-file-excel"></i> Exportar
                        </button>
                    </div>
                </div>
            </form>
<br />
            <div class="table-responsive">
                {{ action.tbl_start('table-sm table-bordered') }}
        <thead class="table-primary">
        <tr>
            <th class="text-center pb-10" rowspan="2">Nº</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Distrito.</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Centro Poblado.</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Nombres</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Edad</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Sexo</th>
            <th class="text-center d-sm-table-cell " colspan="2">Casos Riesgo Desprotección</th>
            <th class="text-center d-sm-table-cell pb-10" rowspan="2">Total</th>
        </tr>
        <tr>
            <th>Menor Edad</th>
            <th>Tutor</th>
        </tr>
        </thead>
        <tbody class="font-weight-bold">
        {% for den in paginator %}
            <tr>
                <td class=" d-sm-table-cell">{{ loop.index}}</td>
                <td class=" d-sm-table-cell">{{ den.centroPoblado.distrito.nombre}}</td>
                <td class=" d-sm-table-cell">{{ den.centroPoblado.nombre |upper}}</td>
                <td class=" d-sm-table-cell">{{ den.nombres |upper }}</td>
                <td class=" d-sm-table-cell">{{ den.edad }} años</td>
                <td class=" d-sm-table-cell">{{ den.sexo |upper }}</td>
                <td class=" d-sm-table-cell {{ den.menoredads |length |semaforo }}">
                    {{ den.menoredads |length }}
                    {{ action.btn_show_link2_ico(path('historial_menoredad_index',{'numeroDocumento': den.numeroDocumento})) }}
                </td>
                <td class="d-none d-sm-table-cell {{ den.tutors |length |semaforo }} ">
                    {{ den.tutors |length }}
                    {{ action.btn_show_link2_ico(path('historial_tutor_index',{'numeroDocumento': den.numeroDocumento})) }}
                </td>
                <td class="d-none d-sm-table-cell">
                    {% set c1 = den.menoredads |length  %}
                    {% set c2 = den.tutors |length  %}
                    {% set total = c1+c2%}
                    {{ total}}
                    {{ action.btn_show_link2_ico(path('historial_totaldesproteccion_index',{'numeroDocumento': den.numeroDocumento,'personaid':den.id})) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
                {{ action.tbl_end() }}
            </div>
            {{ pagination.pager(paginator, _section) }}


{% endblock %}

{% block _main_filters %}
{% endblock %}

{% block _main_tools %}
{% endblock %}

{% block _main_footer %}
{% endblock%}

{% block _main_actions %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        let route;
        function filter(routeBase)
        {
            route = routeBase + "?" + 'n=' + $('#filter_size option:selected').val();
            route = route + "&" + 'b=' + $('#filter_text').val();
            route = route + "&" + 'centroPoblado=' + "{{app.request.get('centroPoblado')}}";


            return route;
        }

        $(document).ready(function() {
            $(document).on('change', '#filter_size', function(){
                route = '{{ path('historial_desproteccion_index') }}';
                window.location = filter(route);
            });

            $(document).on('click', '.btn-send', function(){
                route = '{{ path('historial_desproteccion_index') }}';
                window.location = filter(route);
            });

            $(document).on('click', '.btn-clear', function(){
                route = '{{ path('historial_desproteccion_index') }}';
                window.location.href = route;
            });

            $("#select_provincias").change(function () {
                var provinciaId = $(this).val();
                
                if (provinciaId === "") {
                    $("#select_distritos").html('<option value="">Seleccione</option>');
                    $("#select_centros").html('<option value="">Seleccione</option>');
                    return;
                }
                
                $.ajax({
                    type: 'GET',
                    url: "{{ path('ubigeo_distritos_ajax', {'provinciaId': 'ID'}) }}".replace('ID', provinciaId),
                    success: function (data) {
                        var $selector = $('#select_distritos');
                        $selector.html('<option value="">Seleccione</option>');
                        for (var i = 0, total = data.length; i < total; i++) {
                            $selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                        $("#select_centros").html('<option value="">Seleccione</option>');
                    }
                });
            });

            $("#select_distritos").change(function () {
                var distritoId = $(this).val();
                
                if (distritoId === "") {
                    $("#select_centros").html('<option value="">Seleccione</option>');
                    return;
                }
                
                $.ajax({
                    type: 'GET',
                    url: "{{ path('ubigeo_centros_ajax', {'distritoId': 'ID'}) }}".replace('ID', distritoId),
                    success: function (data) {
                        var $selector = $('#select_centros');
                        $selector.html('<option value="">Seleccione</option>');
                        for (var i = 0, total = data.length; i < total; i++) {
                            $selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    }
                });
            });
        });
        function actionForm(formid) {
            route = '{{ path('historialexcel_desproteccion_index') }}';
            document.getElementById(formid).action = route;
            document.getElementById(formid).submit();
            document.getElementById(formid).action = '';
        }
    </script>
{% endblock %}
