{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}

{% set _title = 'Historial Casos' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  section %}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title,_section,'Mostrar') }}
{% endblock %}

{% block _main %}

    {% if persona != null and (historialData|length)>0 %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <th colspan="4" class="text-center">Datos Personales</th>
                </thead>
                <thead class="table-secondary">
                <th>Persona</th>
                <th>Tipo Documento</th>
                <th>Nº Documento</th>
                <th>Sexo</th>
                </thead>
                <tbody>
                <tr class="font-weight-bold">
                    <td>{{ persona.nombres }} {{ persona.apellidos }}</td>
                    <td>{{ persona.tipoDocumento }} </td>
                    <td>{{ persona.numeroDocumento }}</td>
                    <td>{{ persona.sexo }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <span class="font-weight-bold text-center">
            <h2>No se encontraron casos para la persona seleccionada</h2>
        </span>
    {% endif %}
    <br>
    {% for caso_desproteccion in historialData %}
        <span class="font-weight-bold"><h2>Caso Nº {{ loop.index }}</h2></span>

        {{ action.tbl_start('table-sm table-bordered') }}
        {{ action.tbl_tr('Distrito',caso_desproteccion.distrito) }}
        {{ action.tbl_tr('Centro Poblado',caso_desproteccion.centroPoblado.nombre) }}
        {{ action.tbl_tr('Lugar del Caso',caso_desproteccion.lugarCaso) }}
        {{ action.tbl_tr('Fecha de Reporte',caso_desproteccion.fechaReporte) }}
        {{ action.tbl_tr('Descripción',caso_desproteccion.descripcionReporte) }}
        {{ action.tbl_tr('Situaciones Encontradas',caso_desproteccion.situacionesEncontradas) }}
        <tr>
            <th class="">Menor Edad</th>
            {% for tipo in caso_desproteccion.casoDesproteccioMenorEdads %}
                <td class="text-left">
                    <span class="font-weight-bold">Nombres: </span> {{ tipo.menorEdad.nombres |upper }} <br>
                    <span class="font-weight-bold">Apellidos :</span> {{ tipo.menorEdad.apellidos|upper }} <br>
                    <span class="font-weight-bold">Tipo Documento: </span> {{ tipo.menorEdad.tipoDocumento.nombre |upper }}
                    <br>
                    <span class="font-weight-bold">Número Documento: </span> {{ tipo.menorEdad.numeroDocumento }}<br>
                    <span class="font-weight-bold">Edad: </span> {{ tipo.menorEdad.edad }}<br>
                    <span class="font-weight-bold">Sexo: </span> {{ tipo.menorEdad.sexo.nombre |upper }}<br>
                    <span class="font-weight-bold">Dirección: </span> {{ tipo.menorEdad.direccion |upper }}<br>
                    <span class="font-weight-bold">Nacionalidad: </span> {{ tipo.menorEdad.nacionalidad.nombre |upper }} <br>
                    <span class="font-weight-bold">Situaciones Encontradas: </span> {{ tipo.situacionesEncontradas |upper }}
                </td>

            {% endfor %}
        </tr>
        <tr>
            <th class="">Tutor y/o Cuidador Principal</th>
            {% for tipo in caso_desproteccion.casoDesproteccionTutors %}
                <td class="text-left">
                    <span class="font-weight-bold">Nombres: </span> {{ tipo.tutor.nombres |upper }} <br>
                    <span class="font-weight-bold">Apellidos: </span> {{ tipo.tutor.apellidos |upper }} <br>
                    <span class="font-weight-bold">Tipo Documento: </span> {{ tipo.tutor.tipoDocumento.nombre |upper }}
                    <br>
                    <span class="font-weight-bold">Número Documento: </span> {{ tipo.tutor.numeroDocumento }}<br>
                    <span class="font-weight-bold">Sexo: </span> {{ tipo.tutor.sexo.nombre |upper }}<br>
                    <span class="font-weight-bold">Vínculo Familiar: </span> {{ tipo.tutor.vinculoFamiliar.nombre|upper }}
                    <br>
                    <span class="font-weight-bold">Teléfono/Celular: </span> {{ tipo.tutor.telefono }}
                </td>
            {% endfor %}
        </tr>
        {{ action.tbl_end() }}
        <hr>
    {% endfor %}
{% endblock %}

{% block _main_tools %}
    <button type="button" onclick="imprimir()"
            class="btn-print btn btn-light-primary px-6 font-weight-bold mr-2">
        <i class="fas fa-print"></i>
        Imprimir
    </button>
{% endblock %}

{% block _main_footer %}
{% endblock %}

{% block _main_actions %}
{% endblock %}

{% block _javascripts %}
    <script>
        function imprimir() {
            window.print();
        }
    </script>
{% endblock %}

{% block _stylesheets %}
    <style>
        @media print {
            .btn-print, .oculto-impresion * {
                display: none !important;
            }

            .subheader * {
                display: none !important;
            }
        }
    </style>
{% endblock %}