{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Rol' %}
{% set _main_title = 'Listado' %}
{% set _section =  'usuario_rol_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show('Menus') }}
{% endblock %}

{% block _main %}
    <div class="table-responsive">
        <table class="table table-sm table-striped m-table m-table--head-bg-metal">
            <thead>
            <tr>
                {{ action.th('#', false, 'text-center') }}
                {{ action.th('Datos', false, 'd-block d-sm-none') }}
                {{ action.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ action.th('Rol', true, 'd-none d-sm-table-cell') }}
                {{ action.th('Activo', true, 'text-center d-none d-sm-table-cell') }}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario_rol in paginator %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="d-block d-sm-none font-size-xs">
                        {{ usuario_rol.nombre }} <br>
                        {{ usuario_rol.rol }} <br>
                        {{ usuario_rol.isActive | yesnocustom | raw }}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ usuario_rol.nombre }}</td>
                    <td class="d-none d-sm-table-cell">{{ usuario_rol.rol }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ usuario_rol.isActive | yesnocustom | raw }}</td>
                    <td class="text-right">
                        {% if access.has('view') %}
                            {{ action.btn_show_link2_ico(path('usuario_rol_show', {'id': usuario_rol.id})) }}
                        {% endif %}
                        {% if access.has('edit', usuario_rol) %}
                            {{ action.btn_edit_link2_ico(path('usuario_rol_edit', {'id': usuario_rol.id})) }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_options %}
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">Ver:</label>
                <div class="col-lg-3">
                    <select id="filter_size" class="form-control m-input" name="n">
                        {% for key,value in default_results_per_page %}
                            <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">{{ key }}</span>'
                                    value="{{ value }}" {% if app.request.get('n') == value %} selected {% endif %}>{{key}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="col-lg-1 col-form-label">Buscar:</label>
                <div class="col-lg-3">
                    <input class="form-control h-100 g-font-size-default g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-rounded-20 g-pl-20 g-pr-50 g-py-10"
                           id="filter_text" type="text" placeholder="Escriba ..." value="{{app.request.get('b')}}" name="b">
                </div>
                <label class="col-lg-1 col-form-label"></label>
                <div class="col-lg-3">
                    <button class="btn-send btn btn-brand m-btn m-btn--custom m-btn--icon"><i class="la la-search"></i> Enviar</button>
                    <button class="btn-clean btn btn-secondary">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block _main_tools %}
    {% include 'crud/_options_ico.html.twig' %}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'usuario_rol'} %}
{% endblock%}

{% block _main_actions %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'usuario_rol'}  %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        jQuery(document).ready(function() {
            $(document).on('change', '#filter_size', function(){
                let route = '{{ path('usuario_rol_index') }}';
                route = route + "?" + 'n=' + $('#filter_size option:selected').val();
                route = route + "&" + 'b=' + $('#filter_text').val();
                window.location = route;
            });

            $(document).on('click', '.btn-send', function(){
                window.location = '{{ path('usuario_rol_index') }}';
            });
        });
    </script>
{% endblock %}

{% block _javascripts_end %}
    <script>
        jQuery(document).ready(function() {
            {% if app.request.get('b') %}
            jQuery('#action_options').trigger('click');
            {% endif %}
        });
    </script>
{% endblock %}
