{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}

{% set _title = 'Caso Riesgo Desproteccion' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  'caso_desproteccion_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title,_section,'Mostrar') }}
{% endblock %}

{% block _main %}
    {{ action.tbl_start('table-sm table-bordered') }}
    {{ action.tbl_tr('Distrito',caso_desproteccion.distrito) }}
    {{ action.tbl_tr('Centro Poblado',caso_desproteccion.centroPoblado.nombre) }}
    {{ action.tbl_tr('Lugar del Caso',caso_desproteccion.lugarCaso) }}
    {{ action.tbl_tr('Fecha de Reporte',caso_desproteccion.fechaReporte) }}
    {{ action.tbl_tr('Descripcion',caso_desproteccion.descripcionReporte) }}
    {{ action.tbl_tr('Situaciones Encontradas',caso_desproteccion.situacionesEncontradas) }}
    <tr>
        <th class="">Menor Edad</th>
        {% for tipo in caso_desproteccion.casoDesproteccioMenorEdads %}
            <td class="text-left">
                <span class="font-weight-bold">Nombres: </span> {{ tipo.menorEdad.nombres |upper }} <br>
                <span class="font-weight-bold">Apellidos :</span> {{ tipo.menorEdad.apellidos|upper  }} <br>
                <span class="font-weight-bold">Tipo Documento: </span>    {{ tipo.menorEdad.tipoDocumento.nombre |upper }} <br>
                <span class="font-weight-bold">Número Documento: </span> {{ tipo.menorEdad.numeroDocumento }}<br>
                <span class="font-weight-bold">Edad: </span>  {{ tipo.menorEdad.edad }}<br>
                <span class="font-weight-bold">Sexo: </span> {{ tipo.menorEdad.sexo.nombre |upper }}<br>
                <span class="font-weight-bold">Dirección: </span> {{ tipo.menorEdad.direccion |upper }}<br>
                <span class="font-weight-bold">Nacionalidad: </span>  {{ tipo.menorEdad.nacionalidad.nombre |upper }}<br>
                <span class="font-weight-bold">Situaciones Encontradas: </span>  {{ tipo.situacionesEncontradas |upper }}
            </td>

        {% endfor %}
    </tr>
    <tr>
        <th class="">Tutor y/o Cuidador Principal</th>
        {% for tipo in caso_desproteccion.casoDesproteccionTutors %}
            <td class="text-left">
                <span class="font-weight-bold">Nombres: </span> {{ tipo.tutor.nombres |upper }} <br>
                <span class="font-weight-bold">Apellidos: </span> {{ tipo.tutor.apellidos |upper }} <br>
                <span class="font-weight-bold">Tipo Documento: </span>    {{ tipo.tutor.tipoDocumento.nombre |upper }} <br>
                <span class="font-weight-bold">Número Documento: </span> {{ tipo.tutor.numeroDocumento }}<br>
                <span class="font-weight-bold">Sexo: </span> {{ tipo.tutor.sexo.nombre |upper }}<br>
                <span class="font-weight-bold">Vínculo Familiar: </span>  {{ tipo.tutor.vinculoFamiliar.nombre|upper  }}<br>
                <span class="font-weight-bold">Teléfono/Celular: </span>  {{ tipo.tutor.telefono  }}
            </td>
        {% endfor %}
    </tr>

    {{ action.tbl_tr('Estado actual',caso_desproteccion.EstadoCaso) }}
    {{ action.tbl_tr('Institución',caso_desproteccion.Institucion) }}

  
    {{ action.tbl_end() }}

<h3>Acciones</h3>

    <table id="pc-dt-simple" class="table dataTable-table">
        <thead class="thead-light">
            <tr>
                <th>Nro</th>
                <th>Acciones</th>
                <th>Estado</th>
                <th>Institucion</th>                
                <th>Usuario</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for acc in accion %}
            <tr>
                <td class="text-left">{{ loop.index }}</td>
                <td class="text-left">{{ acc.descripcion }}</td>
                <td class="text-left">{{ acc.estado.estado }}</td>
                <td class="text-left">{{ acc.institucion ? acc.institucion.name }}</td>
                <td class="text-left">{{ acc.owner.username }}</td>
                <td class="text-left">{{ acc.fecha |date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header flex-column flex-lg-row  d-flex align-items-lg-center gap-2 justify-content-between">
            <h6>Nueva acción</h6>
                                        </div>
        <form method="POST" class="needs-validation" novalidate="">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm p-0">
                        <div class="form-group  row p-1 ">
                            <div class="col-sm-4">Fecha</div>
                            <div class="col-sm-4">
                                <input class="form-control x_datepicker" type="text" name="fecha" value="" required="">
                                <input type="hidden" name="codigo" value="{{ caso_desproteccion.codigo }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm p-0">                
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm p-0">
                        <div class="form-group  row p-1 ">
                            <div class="col-sm-4">Estado</div>
                            <div class="col-sm-8">
                                <select class="form-control" id="estado" name="estado" style="max-width:265px;">
                                    <option></option>
                                    <option value="1">Recibido</option>
                                    <option value="2">Derivado</option>
                                    <option value="3">Atendido</option>
                                    <option value="4">Observado</option>
                                    <option value="5">Cerrado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm p-0">                
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm p-0">
                        <div class="form-group  row p-1 ">
                            <div class="col-sm-4">Institución</div>
                            <div class="col-sm-8">
                                <select class="form-control" id="institucion" name="institucion" style="max-width:265px;">
                                    <option></option>
                                    {% for inst in institucion %}
                                        <option value="{{ inst.id }}">{{ inst.name }}</option>
                                   {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm p-0">                
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm p-0">
                        <div class="form-group  row p-1 ">
                            <div class="col-sm-4">Descripción</div>
                            <div class="col-sm-8">
                                        <textarea name="descripcion" id="descripcion" class="form-control" rows="5" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm p-0">                
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm p-0">
                        <div class="form-group  row p-1 ">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <div class="text-end">
                                    <button class="btn btn-warning m-btn m-btn--custom m-btn--icon ">
                                        <span><i class="fa flaticon-folder-2"></i><span>Registrar</span></span>    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm p-0">                
                    </div>
                </div>
                
            </div>
        </form>
    </div>

{% endblock %}

{% block _main_tools %}
    <button type="button" onclick="imprimir()"
            class="btn-print btn btn-light-primary px-6 font-weight-bold mr-2">
        <i class="fas fa-print"></i>
        Imprimir
    </button>
{% endblock %}

{% block _main_footer %}
{% endblock %}

{% block _main_actions %}
{% endblock %}

{% block _javascripts %}
    <script>
        function imprimir() {
            window.print();
        }
    </script>
{% endblock %}

{% block _stylesheets %}
    <style>
        @media print {
            .btn-print, .oculto-impresion * {
                display: none !important;
            }
        }
    </style>
{% endblock %}